.congrats {
  margin-top: 15px;
  text-align: center;
}
.startagain {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 15px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 5px;
}

@media screen and (max-width: 660px) {
  .deck {
    width: 440px;
    padding: 24px;
    min-height: 480px;
  }
  .deck .card {
    height: 80px;
    width: 80px;
  }
}
